@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.service-section{
    padding: 70px 0px;
    background: #212121;
    color: #fff;
    

    .service-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        h2{
            text-align: center;
            font-size: 40px;
            position: relative;
            padding: 15px;
            span{
                color: #ff6200;
            }
            
            &::before{
                content: "";
                position: absolute;
                height: 2px;
                width: 150px;
                background: #ff6200;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }

            &::after{
                content: "";
                position: absolute;
                height: 6px;
                width: 70px;
                background: #ff6200;
                bottom: -2px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        

        p{
            text-align: center;
            max-width: 800px;
            line-height: 1.5em;
        }
    }

    .row{

        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        gap: 30px;
        flex-wrap: wrap;


        .service-card{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background: #2c2c2c;
            padding: 40px 20px;
            gap: 20px;
            flex: 0 1 350px;
            max-width: 400px;
            overflow: hidden;
            position: relative;

            &>*{
                z-index: 1;
            }

            .icon{
                width: 60px;
                height: 60px;
                background: #ff6200;
                line-height: 60px;
                text-align: center;
                font-size: 30px;
                border-radius: 4px;
                transition: .3s;
            }

            h3{
                text-align: center;
            }

            p{
                text-align: center;
                font-size: 14px;
                line-height: 1.5em;

            }

            a{
                text-decoration: none;
                color: #fff;
                font-weight: bold;
                display: inline;
                padding-bottom: 3px;
                border-bottom: 1.5px solid #ff6200;
                transition: .3s;
            }
            

           

            &::before{
                position: absolute;
                content: "";
                background: #ff6200;
                width: 80px;
                height: 80px;
                z-index: 1;
                top: 0;
                right: 0;
                border-bottom-left-radius: 80%;
                transition: all .3s;
            
            }

            &:hover{

                .icon{
                    background: #ffffff;
                    color: #ff6200;
                    border-radius: 50%;
                   
                }

                a{
                   
                    border-bottom: 1.5px solid #ffffff;
                }

                &::before{
                    height: 100%;
                    width: 100%;
                    border-bottom-left-radius: 0%;
                }
               
            }
           

        }
    }
}




@media only screen and (max-width: 1240px) {
    .service-section{
        padding: 15px;
    }

    .service-section .row .service-card{
        flex-grow: 1;
    }
   
}


@media only screen and (max-width: 700px) {
    .service-section .service-title h2 {
            font-size: 30px;
        }
    
    
}


@media only screen and (max-width: 350px) {
    .service-section .service-title h2 {
        font-size: 25px;
    }
}
